@font-face {
    font-family: merriweather;
    src: url("../fonts/Merriweather-Bold.ttf");
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: merriweather;
  }



  .tictaccontainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;

    background-image: url("../img/tictactoeboard.png");
  }

  .tictacField {
    font-size: 0px;
    text-align: center;
    align-items: center;
    height: 250px;
  }

  #top-level {
    display: flex;
    justify-content: center;
  }

  #player1, #player2 {
    width: 125px;
    font-size: x-large;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #low-level {
    width: 1000px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #game-container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #take-over {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.281);
    backdrop-filter: blur(8px); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #left {
    width: 250px;
    height: 250px;
    background-image: url("../img/left.png");
  }
  #right {
    width: 250px;
    height: 250px;
    background-image: url("../img/right.png");
  }
  #center {
    width: 250px;
    height: 250px;
    background-image: url("../img/center.png");
  }

  #left:hover {
    background-image: url("../img/left_hover.png");
  }

  #right:hover {
    background-image: url("../img/right_hover.png")
  }

  .game-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .navigation {
    display: flex;
    
  }

  #player1-name, #player2-name, #start-game {
    width: 250px;
    height: 250px;
  }